:root {
  --font: Nunito Sans, sans-serif;
  --font-size: 15px;
  --dark-blue: hsl(209, 23%, 22%);
  --very-dark-blue-background: hsl(207, 26%, 17%);
  --very-dark-blue-light-text: hsl(200, 15%, 8%);
  --dark-gray: hsl(0, 0%, 52%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white-color: hsl(0, 0%, 100%);
 
  --font-size: 62.5%;
}

body {
  font-family: var(--font);
}
